* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 50.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    text-align: center;
}


h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
    font: black;
}

h1 {
    font-size: 6rem;
    font: black;
}

h2 {
    font-size: 6rem;
    font: rgb(241, 2, 2);
}

h3 {
    font-size: 5rem;
    font: black;
}

p, a {
    font-size: 3rem;
    font: rgb(0, 0, 0);
}

/* header section */
header {
    width: 100%;
    height: 25vh;
    background-color: yellow;
}


/* spacers */
.spacer {
    width: 100%;
    height: 0.5vh; /* Adjust this value as needed */
    background-color: rgb(0, 4, 17);
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(230, 226, 5);
}

.gallery img {
    width: 25%; /* Adjust as needed */
    height: auto;
    margin: 10px; /* Add some margin for spacing */
}
  

/* about us section */
.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110vh;
    position: relative; /* add a position property to the parent element */
  }

  .about-container {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  
  .text {
    flex: 1;
    padding: 15px;
    color:#08090a;
    text-align: center;
  }

   h3 {
    color: #000000;
    text-align: center;
  }
  
/* contact us section */
.contact {
    text-align: center;
    background-image: url('/tasty-sandwiches.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 4, 17);
}

.contact-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 17, .8);
}

.contact h2, h3 {
    padding-top: 5vh;
    color:#ffffff;
    text-align: center;
}

.contact h3 {
    padding-top: 2.5vh;
}

.contact p {
    padding: .5vh 0;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.address {
    width: 25%;
}

.hours {
    width: 25%;
    padding-bottom: 2.5vh;
}

.contacts {
    width: 25%;
}

/* footer section */
footer {
    width: 100%;
    height: 15vh;
    padding-top: 2.5vh;
    font-size: 3rem;
}

/* mobile media query */
@media (max-width: 428px) {
    /* header section */
    

    /* gallery section */
    .gallery {
        height: 100vh;
        /* change back to auto if not fixing problem with spacign*/
    }
    
    /* about us section */

    .about {
        height: 100vh;
        /* change back to 200vh if not fixing problem with spacign*/
    }
    
    .about h2 {
        width: 100%;
        padding-top: 5vh;
        
    }
    
    .about-container .text {
        width: 75%;
        text-align: center;
        color:#000000;
    }
    
    /* contact us section */
    .contact h3 {
        padding-top: 2.0vh;
    }
    
    .info {
        flex-wrap: wrap;
    }
    
    .address {
        width: 100%;
        padding-bottom: 2.5vh;
    }
    
    .hours {
        width: 100%;
    }
    
    .contacts {
        width: 100%;
        padding-bottom: 2.5vh;
        color: #fff;
    }

    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
        color: #fff;
    }
}